---
import Font from '@astropub/fonts'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
		<Font.Comforter for="[data-font-comforter]" />
		<Font.Englebert for="[data-font-englebert]" />
		<Font.Open_Sans for="[data-font-opensans]" />
	</head>
	<body>
		<h1 data-font-comforter>Comforter</h1>
		<h1 data-font-englebert>Englebert</h1>
		<h1 data-font-opensans>Open Sans</h1>
	</body>
</html>